@font-face {
    font-family: 'regencielight';
    src: url('../fonts/RegencieLightObl-webfont.eot');
    src: url('../fonts/RegencieLightObl-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RegencieLightObl-webfont.woff2') format('woff2'),
    url('../fonts/RegencieLightObl-webfont.woff') format('woff'),
    url('../fonts/RegencieLightObl-webfont.ttf') format('truetype'),
    url('../fonts/RegencieLightObl-webfont.svg#regencielightobl') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'regencielight';
    src: url('../fonts/RegencieLight-webfont.eot');
    src: url('../fonts/RegencieLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RegencieLight-webfont.woff2') format('woff2'),
    url('../fonts/RegencieLight-webfont.woff') format('woff'),
    url('../fonts/RegencieLight-webfont.ttf') format('truetype'),
    url('../fonts/RegencieLight-webfont.svg#regencielight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5{
    font-weight: normal;
}
body.html{
	font-family: regencielight, Helvetica, sans-serif; 
	font-size: 12px;
    overflow: hidden;
    @media #{$tablet}
    {
      font-size: 14px;
  }
  letter-spacing: 0.05em;
  background-color: white;
}

#header{
    overflow: visible;
    @media #{$mobile}
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 149;
        -webkit-overflow-scrolling: touch;
        text-transform: uppercase;
        background: rgba(255,255,255,0.9);
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
        .menu-open &{
            transform: translateX(0%);
        }
    }
    .darp-menu-header, .pager[data-nid="117"] h2{
        font-size: larger;
    }
    #darp-menu-header{
        margin-bottom: 1em;
    }
    .region-header
    {
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        @media #{$tablet}
        {
            left: auto;
            right: 15px;
        }
        overflow: auto;
        position: absolute;
    }
    z-index: 149;
    -webkit-overflow-scrolling: touch;
    text-transform: uppercase;

    .view-header{
        margin-bottom: 1em;
    }
    .pager{
        cursor: pointer;
        margin-bottom: 5px;
        color: lighten(black , 60%);
        &.active-proj, &:hover{
            color: black;
        }
        &[data-nid="117"]{
            margin-top: 1em;
        }
        h2{
            font-size: 12px;
        }
        h2, img{
            display: inline;
            vertical-align: middle;
        }
    }
}
$gap: 6px;
#menu 
{
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 5px 0;
    z-index: 1000;
    @media #{$tablet}
    {
      display:  none;
  }
  .top {
      position: relative;
      margin-bottom: 25px;
      .menu-open & {
          background-color: white;
      }
      &, &:before, &:after {
        width: 20px;
        height: 1px;
        background-color: black;
        transition: all 0.3s ease-in-out;
    }
    &:before, &:after {
      content: "";
      display: inline-block;
      position: absolute;
  }
  &:before{
      transform: translateY(-$gap);
      .menu-open &{
        transform: rotateZ(45deg);
    }
}
&:after{
  transform: translateY($gap);
  .menu-open &{
    transform: rotateZ(-45deg);
}
}
}

}