$slide-padding: 240px;
$slide-padding-mobile: 35px;

#contact, #intro{
	.proj-desc{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		min-width: 80%;
		max-width: 80%;
		min-height: 100px;
		@media #{$tablet}
		{
			min-width: 450px;
			max-width: 450px;
			min-height: 250px;
		}
		margin: auto;
		background: url("../img/darp_background.png");
		background-position: center;
		background-size: cover;
		display: table;
		padding: 15px;
		.proj-desc-body{
			display: table-cell;
			p{
				margin-bottom: 0;
			}
			a{
				color: black;
				&:hover{
					text-transform: underline;
				}
			}
		}
	}
}

#intro{
	h1{
		font-weight: normal;
		margin-bottom: 0;
	}
	.proj-desc-body{
		text-align: center;
		vertical-align: middle;
	}
}
#contact{
	.proj-desc-body{
		font-size: 14px;
		display: table-cell;
		vertical-align: bottom;
	}
}

html, body, .view-main, .view-main .view-content, .view-main .views-row, .proj-wrapper, .slide{
	height:100%;
	width:100%;
}

body .superframe{
	position: absolute;
}

body.page-projects{
	overflow: hidden;	
}
.page-projects #page-wrapper{
	position: absolute;
}
.view-id-main{
	position: relative;
}


/* /CLEAN */
/* WORKS LIST */


/*  IMAGES  */
.proj-wrapper{
	overflow: hidden;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
}


.proj-desc-body{
	padding: 0 10px;
	overflow-x: hidden;
}
.text-slide-content .proj-short{
	font-style: italic;
	.proj-title{
		text-transform: uppercase;
	}
	p{
		margin-bottom: 10px;
	}
	.date_and_type{
		font-size: 1.1em;
		margin-bottom: 50px;
	}
}

.img-container{
		$padding: $slide-padding-mobile;
		$padding-vert: 40px;
		width: calc(100% - #{2 * $padding});
		height: calc(100% - #{2 * $padding-vert});
		transform: translateY($padding-vert);
	@media #{$tablet}
	{
		$padding: $slide-padding;
	  property:  value;
		width: calc(100% - #{2 * $padding});
		height: calc(100% - #{2 * $padding-vert});
		transform: translateY($padding-vert);
	}
	box-sizing: border-box;
	margin: auto;
}
div.img-loading{
	background-image: url("../img/loading.gif");
	background-repeat: no-repeat;
	background-size: auto, contain;
	background-position: center, center;
}

:not(.closed) .proj-wrapper .img-loading{
	background-position: center, center;

}

.zoom-placeholder, .img-final{
	width:	100%;
	height: 100%;
	display: inline-block;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto, contain;
}
.img-final{
	background-size: contain;
}
/* /IMAGES */

/* PROJECT INFO */
$margin: 10px;
.text-slide{
	.project-desc-body
	{
		padding: 40px 10px;
	}
	text-align: center;
	&.proj-description{
		.text-slide-content{
			text-align: left;
			@media #{$lg}
			{
				display: flex;
				justify-content: center;
			}
		}
		.proj-desc{

			@media #{$lg}{
				align-items: center;
				display: flex;
				max-width:	calc(100% - #{2 * $slide-padding});
			}
			@media #{$tablet}
			{
				max-width:	calc(100% - #{$slide-padding});
				margin: auto;
			}
		}
	}
}

.text-slide-content{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 900;
	max-height: 100%;
	max-width: 70%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;	
	background-color: rgba(255,255,255,0.8);
	margin: 0px auto;
	a{
		color: $brand;
		&:hover{
			text-decoration: underline;
		}
	}
	p{
			margin-bottom: 1.5*$margin;
		}
}
.proj-header{
	position: relative;
	/*top: -2.3em;*/
	display: inline;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	background-color: white;
}

.proj-title{
	margin-bottom: $margin;
}

.proj-body{
	overflow: auto;
	position: absolute;
	top:100px+2*$margin;
	bottom: 5px;
	@media #{$tablet} {
		bottom: 65px;
	}
	padding: 0px 10px 0px 0px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	.proj-desc-body{
		padding: 0 10px;
	}
}

.text-slide-content{
	max-width: 100%;
	margin: 30px 30px;
	@media #{$tablet}
	{
	  max-width: 100%;
		padding: 40px 0;
	}
}

@media #{$mobile}{
	.proj-title{
		font-size: large;
	}

	.proj-body{
		font-size: 8px;
	}
	.proj-info{
		text-align: left;
	}

}
/* /PROJECT INFO */

/* ARROWS */

@media #{$tablet}
{
	.proj-thumbnail{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
		left: 0;
		right: 0;
	}
}
.nav{
	position:fixed;
	z-index: 100;
	display: inline-block;
	height: 27px;
	width: 35px;
	text-shadow:1px 1px 5px black;
	text-indent: -9999px;
	transition: all 0.5s ease-in-out;

	&.arrow{
		background-image: url("../img/arrow.jpg");
		background-repeat: no-repeat;
		background-size: contain;	
		&:hover{
			background-image: url("../img/arrow_black.jpg");
		}
	}
	:not(.mobile) &:hover{
		cursor: pointer;

	}

	&.nav-horz{
		top:50%;
		-moz-transition: opacity 0.2s;
	}

	&.hidden.nav-horz{
		opacity: 0;
		visibility: hidden;
	}

	&.nav-vert{
		left:50%;
	}
	
	@media #{$mobile}
	{
		body.bios &, body.contact &{
			&.nav-vert{
				opacity: 0.5;
			}
			&#right{
				right: -80px;
			}
			&#left{
				left: -80px;
			}
		}
	}
	&#up{
		top:3px;
	}

	&#down{
		bottom:3px;
		transform: rotatez(-180deg)
	}

	&#left{
		.nothing-left &, .bios &, .contact &{
			opacity: 0.5;
		}
			left: 3px;
		@media #{$tablet}
		{
			left: 80px;
		}
		transform: rotatez(-90deg)
	}

	&#right{
		.nothing-right &, .bios &, .contact &{
			opacity: 0.5;
		}
			right: 3px;
		@media #{$tablet}
		{
			right: 80px;
		}
		transform: rotatez(90deg)
	}
}

/* /ARROWS */