@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/styles\.scss}line{font-family:\000039}}
body {
  line-height: 1.42;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\000031}}
.text-page {
  font-size: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\000033}}
.text-page #main-wrapper {
  padding: 0px 15px;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\000033}}
  .text-page #main-wrapper {
    padding: 0px 20px 0px 15px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000311}}
.text-page #main-wrapper {
  font-size: 10px;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000311}}
  .text-page #main-wrapper {
    font-size: 26px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000322}}
  .text-page {
    padding: 0px 20px 28px 28px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000327}}
html, body, #page-wrapper {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000331}}
#page-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@font-face {
  font-family: 'regencielight';
  src: url("../fonts/RegencieLightObl-webfont.eot");
  src: url("../fonts/RegencieLightObl-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RegencieLightObl-webfont.woff2") format("woff2"), url("../fonts/RegencieLightObl-webfont.woff") format("woff"), url("../fonts/RegencieLightObl-webfont.ttf") format("truetype"), url("../fonts/RegencieLightObl-webfont.svg#regencielightobl") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'regencielight';
  src: url("../fonts/RegencieLight-webfont.eot");
  src: url("../fonts/RegencieLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RegencieLight-webfont.woff2") format("woff2"), url("../fonts/RegencieLight-webfont.woff") format("woff"), url("../fonts/RegencieLight-webfont.ttf") format("truetype"), url("../fonts/RegencieLight-webfont.svg#regencielight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000330}}
body.html {
  font-family: regencielight, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  background-color: white;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000330}}
  body.html {
    font-size: 16px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000341}}
#header {
  top: 15px;
  right: 15px;
  position: fixed;
  z-index: 149;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000344}}
#header #darp-menu-header {
  margin-bottom: 1em;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000341}}
  #header {
    transform: translateY(-50%);
    top: 50%;
    right: 35px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000358}}
#header .view-header {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000361}}
#header .pager {
  cursor: pointer;
  margin-bottom: 5px;
  color: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000365}}
#header .pager.active-proj, #header .pager:hover {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000368}}
#header .pager[data-nid="117"] {
  margin-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000371}}
#header .pager h2 {
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000374}}
#header .pager h2, #header .pager img {
  display: inline;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\000031}}
#admin-menu {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\000035}}
#contact .proj-desc, #intro .proj-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  min-width: 330px;
  max-width: 330px;
  min-height: 180px;
  margin: auto;
  background: url("../img/darp_background.png");
  background-position: center;
  background-size: cover;
  display: table;
  padding: 15px;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\000035}}
  #contact .proj-desc, #intro .proj-desc {
    min-width: 450px;
    max-width: 450px;
    min-height: 250px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000326}}
#contact .proj-desc .proj-desc-body, #intro .proj-desc .proj-desc-body {
  display: table-cell;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000328}}
#contact .proj-desc .proj-desc-body p, #intro .proj-desc .proj-desc-body p {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000331}}
#contact .proj-desc .proj-desc-body a, #intro .proj-desc .proj-desc-body a {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000333}}
#contact .proj-desc .proj-desc-body a:hover, #intro .proj-desc .proj-desc-body a:hover {
  text-transform: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000342}}
#intro h1 {
  font-weight: normal;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000346}}
#intro .proj-desc-body {
  text-align: center;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000352}}
#contact .proj-desc-body {
  display: table-cell;
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000358}}
html, body, .view-main, .view-main .view-content, .view-main .views-row, .proj-wrapper, .slide {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000363}}
body .superframe {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000367}}
body.page-projects {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000370}}
.page-projects #page-wrapper {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000373}}
.view-id-main {
  position: relative;
}

/* /CLEAN */
/* WORKS LIST */
/*  IMAGES  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000383}}
.proj-wrapper {
  overflow: hidden;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000392}}
.proj-desc-body {
  padding: 0 10px;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000396}}
.text-slide-content .proj-short {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000398}}
.text-slide-content .proj-short .proj-title {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003101}}
.text-slide-content .proj-short p {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003104}}
.text-slide-content .proj-short .date_and_type {
  font-size: 1.1em;
  margin-bottom: 50px;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003104}}
  .text-slide-content .proj-short .date_and_type {
    property: value;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003113}}
.img-container {
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  transform: translateY(100px);
  box-sizing: border-box;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003120}}
div.img-loading {
  background-image: url("../img/loading.gif");
  background-repeat: no-repeat;
  background-size: auto, contain;
  background-position: center, center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003127}}
:not(.closed) .proj-wrapper .img-loading {
  background-position: center, center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003132}}
.zoom-placeholder, .img-final {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, contain;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003141}}
.img-final {
  background-size: contain;
}

/* /IMAGES */
/* PROJECT INFO */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003150}}
.text-slide .project-desc-body {
  padding: 40px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003154}}
.text-slide-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  max-height: 100%;
  max-width: 70%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003167}}
.text-slide-content a {
  color: lime;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003169}}
.text-slide-content a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003173}}
.text-slide-content p {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003177}}
.proj-header {
  position: relative;
  /*top: -2.3em;*/
  display: inline;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003188}}
.proj-title {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003192}}
.proj-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 120px;
  bottom: 5px;
  padding: 0px 10px 0px 0px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003192}}
  .proj-body {
    bottom: 65px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003206}}
.proj-body .proj-desc-body {
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003212}}
  .text-slide-content {
    max-width: 100%;
    padding: 10px 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003221}}
  .proj-title {
    font-size: large;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003225}}
  .proj-body {
    font-size: 8px;
  }
}
/* /PROJECT INFO */
/* ARROWS */
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003235}}
  .helper {
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003246}}
  .helper:after {
    position: absolute;
    background-image: url("../img/keyboard.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: inherit;
    content: '';
    z-index: 103;
    margin: auto;
    cursor: pointer;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003262}}
  .helper.helpout {
    top: -100%;
    bottom: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003268}}
.nav {
  position: fixed;
  z-index: 100;
  display: inline-block;
  height: 27px;
  width: 35px;
  text-shadow: 1px 1px 5px black;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003278}}
.nav.arrow {
  background-image: url("../img/arrow.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003282}}
.nav.arrow:hover {
  background-image: url("../img/arrow_black.jpg");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003286}}
:not(.mobile) .nav:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003291}}
.nav.nav-horz {
  top: 50%;
  -moz-transition: opacity 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003296}}
.nav.hidden.nav-horz {
  opacity: 0;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003301}}
.nav.nav-vert {
  left: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003305}}
.nav#up {
  top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003309}}
.nav#down {
  bottom: 8px;
  -moz-transform: rotatez(-180deg);
  -ms-transform: rotatez(-180deg);
  -o-transform: rotatez(-180deg);
  -webkit-transform: rotatez(-180deg);
  transform: rotatez(-180deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003318}}
.nav#left {
  left: 8px;
  -moz-transform: rotatez(-90deg);
  -ms-transform: rotatez(-90deg);
  -o-transform: rotatez(-90deg);
  -webkit-transform: rotatez(-90deg);
  transform: rotatez(-90deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003327}}
.nav#right {
  right: 8px;
  -moz-transform: rotatez(90deg);
  -ms-transform: rotatez(90deg);
  -o-transform: rotatez(90deg);
  -webkit-transform: rotatez(90deg);
  transform: rotatez(90deg);
}

/* /ARROWS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\000031}}
#bios .text-slide-content {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\000033}}
#bios .text-slide-content .person {
  margin-bottom: 1.5em;
  margin-top: 1em;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\000038}}
#bios .text-slide-content .bio-name {
  font-size: 1.15rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000311}}
#bios .text-slide-content .bio-title {
  margin-bottom: 15px;
  font-size: 100%;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000316}}
#bios .text-slide-content .bio-line {
  display: table-row;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000320}}
#bios .text-slide-content .bio-date, #bios .text-slide-content .bio-desc {
  display: table-cell;
  min-width: 130px;
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000327}}
  #bios .text-slide-content .bio-date {
    min-width: 110px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000330}}
  #bios .text-slide-content .bio-exps {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000333}}
  #bios .text-slide-content .proj-desc {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    transition: all 0.6s ease-in-out;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000343}}
  #bios .text-slide-content.bio-open .proj-desc {
    top: 0%;
    transform: translateY(0%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000347}}
  #bios .text-slide-content .open.title:before {
    transform: rotateZ(0deg);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000350}}
  #bios .text-slide-content .title {
    position: relative;
    cursor: pointer;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000354}}
  #bios .text-slide-content .title:before, #bios .text-slide-content .title:after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    height: 3px;
    width: 15px;
    background: #cdcdcd;
    display: block;
    color: rgba(1, 1, 1, 0.1);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000365}}
  #bios .text-slide-content .title:before {
    transform: rotateZ(90deg);
    transition: all 0.2s ease-in-out;
  }
}
