@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/styles\.scss}line{font-family:\000039}}
body {
  line-height: 1.42;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\000031}}
.text-page {
  font-size: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\000033}}
.text-page #main-wrapper {
  padding: 0px 15px;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\000033}}
  .text-page #main-wrapper {
    padding: 0px 20px 0px 15px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000311}}
.text-page #main-wrapper {
  font-size: 10px;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000311}}
  .text-page #main-wrapper {
    font-size: 26px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000322}}
  .text-page {
    padding: 0px 20px 28px 28px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000327}}
html, body, #page-wrapper {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_landing\.scss}line{font-family:\0000331}}
#page-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@font-face {
  font-family: 'regencielight';
  src: url("../fonts/RegencieLightObl-webfont.eot");
  src: url("../fonts/RegencieLightObl-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RegencieLightObl-webfont.woff2") format("woff2"), url("../fonts/RegencieLightObl-webfont.woff") format("woff"), url("../fonts/RegencieLightObl-webfont.ttf") format("truetype"), url("../fonts/RegencieLightObl-webfont.svg#regencielightobl") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'regencielight';
  src: url("../fonts/RegencieLight-webfont.eot");
  src: url("../fonts/RegencieLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RegencieLight-webfont.woff2") format("woff2"), url("../fonts/RegencieLight-webfont.woff") format("woff"), url("../fonts/RegencieLight-webfont.ttf") format("truetype"), url("../fonts/RegencieLight-webfont.svg#regencielight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000330}}
body.html {
  font-family: regencielight, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000337}}
.page-studio #page, .page-node-64 #page {
  padding-top: 60px;
}

/* MISC */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000341}}
#main-menu :not(.first) a {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000348}}
#promo-wrapper {
  -webkit-transition: all 0.8s 0.05s;
  -moz-transition: all 0.8s 0.05s;
  -o-transition: all 0.8s 0.05s;
  transition: all 0.8s 0.05s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000355}}
#footer {
  -webkit-transition: all 0.8s 0.1s;
  -moz-transition: all 0.8s 0.1s;
  -o-transition: all 0.8s 0.1s;
  transition: all 0.8s 0.1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000362}}
#highlighted {
  position: fixed;
  top: 0px;
  right: 50px;
  z-index: 250;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000370}}
#highlighted a {
  text-indent: 9999px;
  background-image: url("../img/home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  width: 50px;
  height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000380}}
#highlighted li {
  list-style: none;
  margin-top: 0px;
}

/* MAIN MENU */
/* HACK *
.menu-581{
	position: relative;
	left: -3px;
}
/* /HACK */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\0000395}}
#main-menu {
  width: 32%;
  padding: 0 0.5%;
  position: fixed;
  z-index: 150;
  font-weight: bolder;
  left: 16%;
  min-width: 360px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003104}}
#main-menu a, #highlighted a {
  display: inline-block;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003110}}
#main-menu .first {
  display: inline-block;
  top: -10px;
  margin-right: 24%;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003117}}
#main-menu li {
  margin: 0px;
  width: 24.5%;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003123}}
#main-menu :not(.first) a, #highlighted a {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1px;
  font-size: smaller;
  display: inline-block;
  padding: 1em 0px 0px 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 70%;
  margin: 0 0.5%;
  color: white;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003139}}
#main-menu .first a {
  height: 2em;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003148}}
#main-menu .first a.active, #main-menu .first a:hover {
  background-image: url("../img/logo_green.png");
  /*background-position: 0px -38px;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003155}}
#highlighted .leaf a {
  width: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003159}}
#main-menu :not(.first) a.active, #main-menu :not(.first) a:hover, #highlighted .leaf a:hover {
  background-color: rgba(0, 255, 0, 0.8) !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003168}}
#main-menu ul.menu, #main-menu.block-menu {
  margin-bottom: 0;
}

/* /MAIN MENU */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003175}}
#promo-wrapper, #footer {
  color: black;
  font-size: smaller;
  z-index: 150;
}

/* PROMO-WRAPPER */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003183}}
#promo-wrapper, #promo-wrapper:hover {
  position: fixed;
  top: 320px;
  height: 20px;
  right: 0px;
  padding: 8px 8px 2px 5px;
  display: block;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 100% 10%;
  /* Safari and Chrome */
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 100% 10%;
  /* FF */
  -o-transform: rotate(90deg);
  -o-transform-origin: 100% 10%;
  /* Opera */
  transform: rotate(90deg);
  transform-origin: 100% 10%;
  /* generic */
}

/* FOOTER */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003203}}
#footer, #footer:hover {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  height: 40px;
  left: 16%;
  font-weight: bold;
  padding: 8px 10px 0px 10px;
  width: 32%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003214}}
#footer a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003218}}
#footer a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003223}}
#footer a:hover, #main-menu a:hover, #highlighted a:hover, .clean #main-menu :not(.first) a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003230}}
.left-footer, .right-footer {
  float: left;
  width: 50%;
  margin: 0%;
}

@media only screen and (max-device-width: 380px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003237}}
  #main-menu {
    width: 100%;
    padding: 0 28px;
    left: auto;
    min-width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003244}}
  #main-menu .first {
    top: 0px;
    margin-right: 65px;
    width: 18%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003250}}
  #main-menu li {
    margin: 0px;
    width: 15%;
    margin-right: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003255}}
  #main-menu :not(.first) a, #highlighted a {
    font-size: x-small;
    padding: 1em 0px 0px 5px;
    width: 100%;
    margin: 0 0.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003262}}
  #main-menu .first a {
    height: 2em;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003267}}
  #footer, #footer:hover {
    padding-left: 28px;
    width: 100%;
    font-size: xx-small;
    height: auto;
    left: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_layout\.scss}line{font-family:\00003274}}
  #footer .block {
    margin-bottom: 0px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\000031}}
#admin-menu {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\000035}}
#contact .proj-desc, #intro .proj-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  min-width: 330px;
  max-width: 330px;
  min-height: 180px;
  margin: auto;
  background: url("../img/darp_background.png");
  background-position: center;
  background-size: cover;
  display: table;
  padding: 15px;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\000035}}
  #contact .proj-desc, #intro .proj-desc {
    min-width: 450px;
    max-width: 450px;
    min-height: 250px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000326}}
#contact .proj-desc .proj-desc-body, #intro .proj-desc .proj-desc-body {
  display: table-cell;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000328}}
#contact .proj-desc .proj-desc-body p, #intro .proj-desc .proj-desc-body p {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000331}}
#contact .proj-desc .proj-desc-body a, #intro .proj-desc .proj-desc-body a {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000333}}
#contact .proj-desc .proj-desc-body a:hover, #intro .proj-desc .proj-desc-body a:hover {
  text-transform: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000342}}
#intro h1 {
  font-weight: normal;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000346}}
#intro .proj-desc-body {
  text-align: center;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000352}}
#contact .proj-desc-body {
  display: table-cell;
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000358}}
html, body, .view-main, .view-main .view-content, .view-main .views-row, .proj-wrapper, .slide {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000363}}
body .superframe {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000367}}
body.page-projects {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000370}}
.page-projects #page-wrapper {
  position: absolute;
}

/* CLEAN */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000377}}
.clean #promo-wrapper {
  right: -35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000381}}
.clean #footer {
  bottom: -50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000385}}
.clean #main-menu :not(.first) a.active, .clean #main-menu :not(.first) a:hover {
  background-color: rgba(0, 255, 0, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000389}}
.clean #main-menu :not(.first) a {
  background-color: rgba(0, 0, 0, 0.1);
  top: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\0000394}}
.view-id-main {
  position: relative;
}

/* /CLEAN */
/* WORKS LIST */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003103}}
.page-projects #header {
  transform: translateY(-50%);
  top: 50%;
  right: 35px;
  position: fixed;
  z-index: 149;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003111}}
.page-projects #header .pager {
  cursor: pointer;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003114}}
.page-projects #header .pager h2 {
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003117}}
.page-projects #header .pager h2, .page-projects #header .pager img {
  display: inline;
  vertical-align: middle;
}

/*  IMAGES  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003126}}
.proj-wrapper {
  overflow: hidden;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003135}}
.proj-desc-body {
  padding: 0 10px;
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003139}}
.proj-short {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003141}}
.proj-short .proj-title {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003144}}
.proj-short .date_and_type {
  font-size: 1.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003148}}
.img-container {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  box-sizing: border-box;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003154}}
div.img-loading {
  background-image: url("../img/loading.gif");
  background-repeat: no-repeat;
  background-size: auto, contain;
  background-position: center, center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003161}}
:not(.closed) .proj-wrapper .img-loading {
  background-position: center, center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003166}}
.zoom-placeholder > *.zoom-loading {
  cursor: wait;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003170}}
.zoom-placeholder, .img-final {
  width: 100.3%;
  height: 100%;
  display: inline-block;
  position: relative;
  left: -0.25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, contain;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003179}}
.zoom-placeholder img, .img-final img {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003184}}
.img-final {
  -webkit-transition: left 0.5s;
  background-size: contain;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003188}}
.closed .proj-wrapper .zoom-placeholder, .closed .proj-wrapper .img-final {
  left: 0%;
}

/* /IMAGES */
/* PROJECT INFO */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003197}}
.text-slide .project-desc-body {
  padding: 40px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003201}}
.text-slide-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
  max-height: 100%;
  max-width: 70%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003214}}
.text-slide-content a {
  color: lime;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003216}}
.text-slide-content a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003220}}
.text-slide-content p {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003224}}
#daarp .proj-desc {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003232}}
.proj-header {
  position: relative;
  /*top: -2.3em;*/
  display: inline;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003243}}
.proj-title {
  font-size: x-large;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003248}}
.proj-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 120px;
  bottom: 5px;
  padding: 0px 10px 0px 0px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003248}}
  .proj-body {
    bottom: 65px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003262}}
.proj-body .proj-desc-body {
  padding: 0 10px;
}

@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003268}}
  .text-slide-content {
    max-width: 100%;
    padding: 10px 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003277}}
  .proj-title {
    font-size: large;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003281}}
  .proj-body {
    font-size: 8px;
  }
}
/* /PROJECT INFO */
/* ARROWS */
@media (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003291}}
  .helper {
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003302}}
  .helper:after {
    position: absolute;
    background-image: url("../img/keyboard.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: inherit;
    content: '';
    z-index: 103;
    margin: auto;
    cursor: pointer;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003318}}
  .helper.helpout {
    top: -100%;
    bottom: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003324}}
.nav {
  position: fixed;
  z-index: 100;
  display: inline-block;
  height: 27px;
  width: 35px;
  text-shadow: 1px 1px 5px black;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003334}}
.nav.arrow {
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003338}}
.nav.arrow:hover {
  background-image: url("../img/arrow_black.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003342}}
:not(.mobile) .nav:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003347}}
.nav.nav-horz {
  top: 50%;
  -moz-transition: opacity 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003352}}
.nav.hidden.nav-horz {
  opacity: 0;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003357}}
.nav.nav-vert {
  left: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003361}}
.nav#up {
  top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003365}}
.nav#down {
  bottom: 8px;
  -moz-transform: rotatez(-180deg);
  -ms-transform: rotatez(-180deg);
  -o-transform: rotatez(-180deg);
  -webkit-transform: rotatez(-180deg);
  transform: rotatez(-180deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003374}}
.nav#left {
  left: 8px;
  -moz-transform: rotatez(-90deg);
  -ms-transform: rotatez(-90deg);
  -o-transform: rotatez(-90deg);
  -webkit-transform: rotatez(-90deg);
  transform: rotatez(-90deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_projects\.scss}line{font-family:\00003383}}
.nav#right {
  right: 8px;
  -moz-transform: rotatez(90deg);
  -ms-transform: rotatez(90deg);
  -o-transform: rotatez(90deg);
  -webkit-transform: rotatez(90deg);
  transform: rotatez(90deg);
}

/* /ARROWS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\000031}}
#bios .text-slide-content {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\000033}}
#bios .text-slide-content .person {
  margin-bottom: 1.5em;
  margin-top: 1em;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\000038}}
#bios .text-slide-content .bio-name {
  font-size: 1.15rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000311}}
#bios .text-slide-content .bio-title {
  margin-bottom: 15px;
  font-size: 100%;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000316}}
#bios .text-slide-content .bio-line {
  display: table-row;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000320}}
#bios .text-slide-content .bio-date, #bios .text-slide-content .bio-desc {
  display: table-cell;
  min-width: 130px;
}
@media (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000327}}
  #bios .text-slide-content .bio-date {
    min-width: 110px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000330}}
  #bios .text-slide-content .bio-exps {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000333}}
  #bios .text-slide-content .proj-desc {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    transition: all 0.6s ease-in-out;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000343}}
  #bios .text-slide-content.bio-open .proj-desc {
    top: 0%;
    transform: translateY(0%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000347}}
  #bios .text-slide-content .open.title:before {
    transform: rotateZ(0deg);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000350}}
  #bios .text-slide-content .title {
    position: relative;
    cursor: pointer;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000354}}
  #bios .text-slide-content .title:before, #bios .text-slide-content .title:after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 2px);
    height: 3px;
    width: 15px;
    background: #cdcdcd;
    display: block;
    color: rgba(1, 1, 1, 0.1);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gaston\/Sites\/darp\/sites\/all\/themes\/clean\/css\/_people\.scss}line{font-family:\0000365}}
  #bios .text-slide-content .title:before {
    transform: rotateZ(90deg);
    transition: all 0.2s ease-in-out;
  }
}
